* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-size: cover;
  background-repeat: no-repeat;
}

.leaderboard_title {
  font-size: 6rem;
  margin: 2rem 3rem;
}

.leaderboard_section {
  display: flex;
  width: 60%;
  margin: 5rem auto;
}

.leaderboard_recent-scores {
  display: flex;
  flex-direction: column;
  margin-right: 15rem;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-name {
  font-size: 2.7rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  font-weight: 600;
}

.refresh-btn {
  margin-bottom: 3rem;
  padding: 0 2rem;
  height: 3rem;
  font-size: 1.7rem;
  border: black solid 2px;
  background-color: transparent;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.score-items {
  list-style-type: none;
  font-size: 2rem;
  border: 2px solid black;
  padding: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  margin: 0 0 2rem 0;
  padding: 0.5rem 8rem 0.5rem 0.3rem;
  width: 100%;
}

.submit-btn {
  padding: 0 2rem;
  height: 3rem;
  font-size: 1.7rem;
  border: black solid 2px;
  background-color: transparent;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  width: 40%;
  align-self: flex-end;
}
